body
  font-family: sans-serif
img
  max-width: 100%
.container
  width: 1170px
  margin: auto
@media (max-width: 1200px)
  .container
    width: 760px
@media (max-width: 768px)
  .container
    max-width: 580px
    width: 95%
.button
  border-radius: 10px
  background-color: $main-color
  border: none
  padding: 18px 30px
