.baner
  background-color: $bgc
  &-title
    margin: auto
    text-align: center
    font-size: 32px
    line-height: 50px
    max-width: 950px
    width: 100%
    margin-top: 80px
    margin-bottom: 93px
    +reg
    

@media (max-width: 768px)
  .baner
    &-title
      font-size: 18px
      line-height: 1.2
      margin-top: 65px
      margin-bottom: 70px
