.footer
  position: relative
.map
  position: absolute
  left: 0
  top: 0
  width: 50%
.contacts
  flex-basis: 50%
  padding-top: 100px
  padding-left: 200px
  &__title
    +bold
    font-size: 22px
    line-height: 1.4
    margin-bottom: 100px
  &-block
    display: flex
    justify-content: flex-end
  &-list
    padding: 0
    list-style: none
    &__icon
      width: 20px
      height: 20px
      text-align: center
      line-height: 20px
      margin-right: 23px
    &__item
      display: flex
      align-items: flex-start
      margin-bottom: 39px
@media (max-width: 768px)
  .footer
    position: relative
  .contacts
    position: absolute
    left: 0
    top: 0
    width: 100%
    padding-top: 60px
    padding-left: 40px
  .map
    position: absolute
    left: 0
    top: 600px
    width: 100%
    
