.hero
  padding: 50px 0
  &-block
    display: flex
  &-text
    flex-basis: 50%
    padding-right: 140px
    &__title
      color: #333333
      font-family: "Museo Sans Cyrl -700"
      font-size: 41px
      font-weight: 800
      line-height: 55px
      margin-bottom: 40px
    &__subtitle
      display: inline-block
      color: #333333
      font-family: "Museo Sans Cyrl -700"
      font-size: 20px
      font-weight: 800
      margin-bottom: 66px
  &-list
    padding: 0
    margin: 0
    &__item
      display: flex
      align-items: center
      margin-bottom: 25px
    &__image
      width: 40px
      height: 40px
      border: 2px solid $main-color
      display: flex
      align-items: center
      justify-content: center
      border-radius: 50%
      margin-right: 30px
    &__text
      max-width: 300px
@media (max-width: 1200px)
  .hero
    &-block
      flex-direction: column
    &-list
      margin-bottom: 44px
    &-text
      padding-right: 10px
@media (max-width: 768px)
  .hero
    &-text
      &__title
        font-size: 24px
        line-height: 1.4
        margin-bottom: 15px
      &__subtitle
        font-size: 16px
        margin-bottom: 28px
    &-list
      &__item
        margin-bottom: 20px
      &__text
        font-size: 12px
      &__image
        margin-right: 15px
      