*, a:focus 
  outline: none
.offer
  background: url('../img/offer/offer-bg.png') no-repeat
  background-position: center right
  background-size: contain
  position: relative
  &:before
    content: ''
    width: 50%
    height: 100%
    position: absolute
    background-color: #ffffff
    top: 0
    left: 0
  &-block
    width: 49%
    padding-right: 90px
    position: relative
  &__title
    max-width: 360px
    line-height: 35px
    margin-bottom: 24px
    text-align: left
    margin-top: 84px
  &__subtitle
    max-width: 250px
    margin-bottom: 30px
  &__input
    margin-bottom: 30px
    width: 234px
    &:first-child
      margin-right: 10px
  &__button
    width: 100%
    min-height: 70px
  &-text
    display: flex
    justify-content: space-between
  .text__item
    display: block
    font-size: 15px
    +reg
    max-width: 234px
    line-height: 24px
  .text__phone
    font-size: 15px
    +bold
    margin-bottom: 92px

@media (max-width: 1200px)
  .offer
    background-size: cover
    &__input
      width: 100%
      margin-bottom: 10px
    &__button
      font-size: 13px
@media (max-width: 768px)
  .offer
    background: #ffffff
    &-block
      width: 100%
      padding-right: 0