.portfolio
  background: $secondary url('../img/portfolio/portfolio-pattern.jpg') repeat-y center left
  background-size: 50%
  padding-top: 100px
  padding-bottom: 187px
  &__title
    margin: auto
    margin-bottom: 100px
    font-size: 30px
    max-width: 796px
  &__arrows
    max-width: 120px
    margin: auto
    margin-top: 68px
    display: flex
    justify-content: space-between
.slider
  &__item
    .slider__image
      margin: auto
@media (max-width: 768px)
  .portfolio
    background: $secondary
    padding-bottom: 64px
    &__title
      margin: auto
      margin-bottom: 100px
      font-size: 24px
      max-width: 100%
  .slider
    &__item
      margin-right: 10px